<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
  <div class="right-space">
    <div class="right-icon">
      <%= image_tag("advisors.png", alt: "advisors") %>
      <div class="right-text">
        <h3>Advisors</h3>
        <p>We are all in it together! Some very eminent
          personalities from both Academia and Industry are advising and
          giving us directions at every step of our Journey.</p>
      </div>
    </div>
    <div class="right-icon">
      <%= link_to volunteer_path do %>
        <%= image_tag("volunteer.png", alt: "volunteer") %>
        <div class="right-text">
          <h3>Volunteer Opportunity</h3>
          <p>Come, volunteer for team Udaarta and!make a difference
            to someone's life.</p>
        </div> 
      <% end %>
    </div>
    <div class="facebook">
      <div class="fb-like-box"
        data-href="https://www.facebook.com/udaarta.org"
        data-colorscheme="light" data-show-faces="true"
        data-header="true" data-stream="false" data-show-border="false"></div>
      <div id="fb-root"></div>
    </div>
  </div>
</div>