<div class="banner">
  <%= image_tag("inner page1.jpg", alt: "panel", class: "img-responsive") %>
</div>
<!--BANNER-->

<div class="container" style="width: 100%">
  <div class="row">
    <div class="workspace">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="welcome1">
          <ol class="breadcrumb">
            <li><a href="index.html">About</a></li>
            <li class="active">FAQ's</li>
          </ol>
          <h2>FAQ's</h2>
          <h4>What is UDAARTA?</h4>
          <p>Udaarta is a crowd funding platform to help people who
            cannot afford medical treatment.</p>

          <h4>What is the meaning of UDAARTA</h4>
          <p>Udaarta in Sanskrit means Generosity, we through this
            intuitive appeal to the society to be generous and help the needy
            and aim at making philanthropy a way of life.</p>

          <h4>Is UDAARTA an NGO?</h4>
          <p>Yes UDAARTA is a NGO. Our objective to create a platform
            which will bridge two ends of the society through technology and
            help the patients who need financial assistance and give an
            opportunity to the affluent to contribute to the society by giving
            them a 100% transparent and easy platform .</p>

          <h4>Does 100% of my contribution really go to help the ping
            patient?</h4>
          <p>Yes, 100% of your contribution goes to help the patient in
            their treatment. It is directly transferred to the partner
            hospital where the treatment is happening.</p>

          <h4>If 100% of the money goes to the end borrower, how does
            Udaarta self sustain</h4>
          <p>Udaarta will reach out to other corporate and foundations to
            help run the operations of the NGO and also request for a
            voluntary contribution from the donors.</p>

          <h4>Will the patient pay back the money</h4>
          <p>No the money repayment is not expected since the funding
            happens to people who cannot afford to repay this money. Priority
            is given to people who are the bread winners of the family. Idea
            is to not only save one life but to help the whole family by
            saving his/ her life.</p>

          <h4>How can I get involved?</h4>
          <p>You can always contribute to the cause by helping Udaarta by
            getting more individual donors, spreading the word thru social
            media and also help by getting sponsor or can also be a volunteer
            . Volunteer section will update on different opportunities</p>

          <h4>How can I get in touch with you?</h4>
          <p>The fastest way to reach us is through Twitter or Face book.
            Or mail your request to joyofgiving@udaarta.org</p>

          <h4>Can I see the finances of UDAARTA</h4>
          <p>Yes you can anytime see the financés of Udaarta. It will be
            available online.</p>

          <h4>How do we know the patient actually deserve a funding?</h4>
          <p>The team at Udaarta has designed a due diligence policy to
            fund any person. Our panellist and the volunteers, who will go
            thru the case and endorse before we take it on the site, do the
            due diligence.</p>

          <h4>How do I know the treatment will be a success?</h4>
          <p>We have tied up with the hospitals which are equipped with
            the best doctors and completely trust the ability to handle the
            case.</p>


          <h4>Who is the Hospital Partner and how do they qualify to be
            a partner</h4>
          <p>Our partners are reputed hospital which are multispecialty
            and capable of any treatment and in the most economical way.</p>

          <h4>How do I know my money will go to fund the treatment I
            choose?</h4>
          <p>All transaction in Udaarta is available for the public to
            see.</p>

          <h4>How do the donation logistics work?</h4>
          <p>Your donation first reaches the UDAARTA account, the
            accounts department will tag the fund to the patient it is suppose
            to go to and then will be updated on the website. The fund is then
            transferred to the hospital directly where the treatment is taking
            place.</p>

          <h4>What all option I have, in case I want to donate more.</h4>
          <p>You can donate more patient. You can donate for running of
            the organization.There are only options we have right now. If you
            still wish to fund only for the treatment and want to leave it to
            the discretion of Udaarta there is something called as ANGEL fund.</p>

          <h4>What do the promoters get out of it</h4>
          <p>The promoters of Udaarta are senior executives with reputed
            organization and do not expect any money from the NGO. This is a
            service they are doing for the society.</p>

          <h4>How do I know my financial information is protected?</h4>
          <p>Udaarta's online platform (under development) is highly
            secured and is built using industry standard security protocols.
            Any financial transactions carried out on the platform is secured
            using 256 bit AES SSL encryption</p>

          <h4>Is my donation tax deductible?</h4>
          <p>Yes donations' are 100% tax-deductible u/s 80G of the IT Act
            1961. We are in the process of getting the registration from the
            income Tax dept.</p>

          <h4>Do you have a question that wasn't answered here?</h4>
          <p>
            Please do not hesitate to write to <a
              href="mailto:joyofgiving@udaarta.org.">joyofgiving@udaarta.org.</a>
          </p>

        </div>
        <!--welcome1 end here-->

      </div>
      <%= render 'pages/rightpanel' %>
    </div>
  </div>
</div>