<div class="banner">
  <%= image_tag("inner page1.jpg", alt: "panel", class: "img-responsive") %>
</div>
<div class="container" style="width: 100%">
  <div class="row">
    <div class="workspace">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="welcome">

          <h2>Volunteer Opportunity</h2>
          <h6>Content Management: Website and Social Media</h6>
          <p>We need volunteers to create and manage content for our
            website and social media channels– Folks who are adept in content
            generation, proof reading, refining the content, ensuring updates
            and engagement on social media platforms. Output Expected: Story
            telling capabilities which increases traffic of donors, enhance
            brand visibility and create advocacy.</p>
          <p>Passion for creating and telling stories from any industry
            are welcomed. Interest in developing engaging content for social
            media.</p>

          <h6>Software Development: Platform Development</h6>
          <p>We are urgently looking for software developers on pro-bono
            basis for the development of Udaarta's online crowd sourcing
            platform. This project will give the developers not only the
            chance to create software for making philantropy a way of life and
            relevant, but also to themselves. Experience inner growth as we
            set out for a noble cause. We are looking at-least 2+ years of
            experience in web development technologies such as
            Ruby-on-rails/PHP, MYSQL, HTML5, CSS, Javascript etc.</p>

          <h6>Create Marketing Strategy for Udaarta</h6>
          <p>NGOs struggle to market their good work visible to the
            outside world. We are looking at someone who can own the taks of
            creating a strategy and executing the same to create a mind-share
            amongst people about Udaarta. Background in Marketing with a keen
            interest to use skills for social development. Need to work with a
            very small or nil budget.</p>
          <!--<a href="#">Read More</a>-->
        </div>
        <!--welcome end here-->

      </div>
      <%= render 'pages/rightpanel' %>
    </div>
  </div>
</div>
